/* Probably needs to be changed but for now its ok */
.control {
	width: 100%;
	margin-top: 15px;
	font-size: 2rem;
}

.control label {
	display: block;
	font-size: 1.25rem;
}

.control input {
	display: block;
	width: 100%;
	border-radius: 5px;
	line-height: 1.5rem;
}
