.board {
	display: inline-flex;
	align-items: flex-start;
	flex-wrap: nowrap;
}

/* For adding Column */
.addColBtn {
	width: 325px;
	display: flex;
	align-items: center;
	align-self: flex-start;
	color: #333333;
	background-color: #aaaaaa;
	padding: 11px 12px;
	margin: 11px auto;
	border-radius: 15px;
	cursor: pointer;
}

.addColBtn h3 {
	margin-left: 6px;
}

.addColBtn:hover {
	color: #333333;
	background-color: #cccccc;
}

/* Hide scrollbar */
.board::-webkit-scrollbar {
	display: none;
}

.board {
	scrollbar-width: none;
}
