.container {
	display: flex;
	flex-direction: column;
	flex: 0 0 auto;
	width: 400px;
	height:600px;
	/* May be removed in favour of a parent flex/grid  */
	margin: 8px;
    /* padding: 16px; */
	border: 1px solid lightgray;
	border-radius: 15px;
	background-color: white;
}

.title {
	font-size: 1.75rem;
    margin:0px;
    overflow: hidden;
    padding: 11px 9px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: skyblue;
}

.taskList {
	padding: 8px;
	height:100%;
	overflow: auto;
}

/* Hide scrollbar */
.container::-webkit-scrollbar, .taskList::-webkit-scrollbar {
	display: none;
}

.container, .taskList {
	scrollbar-width: none;
}
