.container {
	display: flex;
	flex-direction: column;
	border: 1px solid lightgrey;
	border-radius: 2px;
	padding: 8px;
	margin-bottom: 8px;
	background-color: white;
}

.description {
	width: 75%;
	margin-left: 0 !important;
	margin-top: 8px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	color: #383838;
}

.icons {
	font-size: 24px;
	margin-top: 8px;
	color: darkgray;
}

.icons svg {
	cursor: pointer;
	margin-right: 8px;
}

.icons svg:hover {
	color: #272727;
}

.delete:hover {
	color: rgb(236, 71, 71) !important;
}
