.icons {
	font-size: 18px;
	margin-top: 8px;
	color: darkgray;
}

.icons svg {
	cursor: pointer;
	margin-right: 8px;
}

.icons svg:hover {
	color: #272727;
}

.delete:hover {
	color: rgb(236, 71, 71) !important;
}
