
.close {
    color: rgb(121, 121, 121);
    font-size: 25px;
    align-self: flex-end;
    cursor: pointer;
}

.close:hover {
    color:#272727;
}

.title {
	font-size: 2.25rem;
}

.title,
.invalid {
	text-align: center;
}

.invalid {
	margin-top: 12px;
	color: red;
	font-size: 1.15rem;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.input {
	font-size: 20px;
	width: 95%;
	text-align: center;
}

.buttonArea {
	display: flex;
	flex-direction: row !important;
	justify-content: space-between;
	margin: 20px 0;
}

.button {
    width:45%;
}

.confirm {
    background-color: rgb(6, 112, 6);
	border: 1px solid rgb(6, 112, 6);
}

.confirm:hover {
    background-color: rgb(15, 155, 15);
	border: 1px solid rgb(15, 155, 15);
}