.container {
	width: 25%;
	height: 500px;
	max-height: 75%;
	/* May be removed in favour of a parent flex/grid  */
	margin: 8px;
    /* padding: 16px; */
	border: 1px solid lightgray;
	border-radius: 15px;
}

.title {
	font-size: 1.75rem;
	/* text-align: center; */
	/* margin: 24px 9px; */
    margin:0px;
    overflow: hidden;
    padding: 11px 9px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: skyblue;
}

.taskList {
	padding: 8px;
    /* flex-grow: 1; */
    min-height: 100px;
}
