.gridContainer {
	display: grid;
	grid-template-columns: 33% auto;
	grid-gap: 0px;
}

.sideImg {
	grid-column: 1;
}

.sideImg img {
	position: absolute;
	height: 100%;
	width: 33%;
	object-fit: cover;
}

.loginForm {
	grid-column: 2;
	height: 100vh;
	width: 100%;
	margin: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.loginForm form {
	display: grid;
	grid-template-columns: auto;
}

.loginForm div {
	width: 100%;
	margin-top: 15px;
	/* font-size: 2rem; */
}

.loginForm label {
	display: block;
	font-size: 1.25rem;
}

.loginForm input[type='text'] {
	display: block;
	width: 100%;
	border-radius: 5px;
	line-height: 1.5rem;
}

.title {
	margin-bottom: 20px;
	font-size: 3rem;
}

.message {
	text-align: center;
}

.invalid {
	color: red;
}
